%form{action: "user", method: "post"}
  .input-wrapper
    %input{class: "text", type: "text", name: "user", placeholder: "Please log in"}
    %input{class: "button", type: "submit", value: "log in"}
